/* Сброс и базовые стили */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: Arial, sans-serif;
  background-color: #fafafa;
  color: #333;
}
@keyframes dashmove {
  0% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: -20;
  }
}
@keyframes drawpath {
  to {
    stroke-dashoffset: 0;
  }
}

