/* Стили для маркеров */
.marker {
  position: absolute;
  width: 40px;
  height: 40px;
  background: url('../assets/pin.png') center / contain no-repeat;
  cursor: pointer;
  transform: translate(-50%, -100%); /* чтобы пин указывал точно на координату */
  z-index: 10;
}
